.table {
    max-width: 1050px;
    margin: 50px auto;
    padding: 20px;
}

#boardfrm {
    max-width: 750px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 8px;
}

a:link { text-decoration: none; }
a:active { text-decoration: underline; color: orange; }
